<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Alex Geogea</h1>
		<p>Welcome to my About page</p>
		<p>This week i am still learning Ruby and although it is hard to develop a discipline of learning, i don't want to give up.</p>
		<p>So wish me luck!</p>
	</div>
</div>